<!DOCTYPE html>
<html>
<head>
  <title>nomnom</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
	<script language="javascript">
	var colorPattern = ['#42EE39', '#3FE236', '#3BD733', '#37C42F'];
	
	$(document).ready(function() {
			$("#devise-content").css("display", "none");
	    $("#devise-content").fadeIn(2000);
			$("#devise-content").css(function(e) {
			    e.preventDefault();
			    for (var i = 0; i < 3; i++ ) {
			        $("#devise-content")
			            .animate( { backgroundColor: "#f00" }, 2000 )
			            .animate( { backgroundColor: "transparent" }, 2000 );
			    }
			});
	});
	
	
	</script>

	<style type="text/css">
	      body {
	        padding-top: 40px;
	        padding-bottom: 40px;
	        background-color: #f5f5f5;
	      }

	      .form-signin {
	        max-width: 300px;
	        padding: 19px 29px 29px;
	        margin: 0 auto 20px;
	        background-color: #fff;
	        border: 15px solid #e5e5e5;
	        -webkit-border-radius: 15px;
	           -moz-border-radius: 15px;
	                border-radius: 15px;
	        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	                box-shadow: 0 1px 2px rgba(0,0,0,.05);
	      }
	      .form-signin .form-signin-heading,
	      .form-signin .checkbox {
	        margin-bottom: 10px;
	      }
	      .form-signin input[type="text"],
	      .form-signin input[type="password"] {
	        font-size: 16px;
	        height: auto;
	        margin-bottom: 15px;
	        padding: 7px 9px;
	      }
				.form-links{
					max-width: 300px;
	        padding: 19px 29px 29px;
	        margin: 0 auto 20px;
				}
				.fade{

				}
				
	    </style>
</head>
<body>
	<div class="container" id="devise-content">
		<%= yield %>
	</div>
</body>
</html>